<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.userName}">JaceBook</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<h2>Tutaj będzie strona użytkownika</h2>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<h3>Info o użytkowniku:</h3>
<p><span th:text="${user.userName}"></span></p>
<p><span th:text="${role}"></span></p>
<form th:action="@{/user/{path}(path=${user.userName})}" th:if="${role == 'stranger'}" method="post">
    <input type="submit" value="Dodaj użytkownika"/>
</form>
<h3>Posty:</h3>
<table>
    <tr>
        <th>Message</th>
    </tr>
    <tr th:each="post : ${posts}">
        <td th:text="${post.message}"></td>
    </tr>
</table>
</body>
</html>