<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JaceBook</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<h3>Witam państwa</h3>
<h2>Tutaj będzie strona główna naszej stronki, wyświatlane postu czy coś</h2>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<form th:action="@{/home}" th:object="${postMessage}" method="post">
    <div class="form-group">
        <label for="message" class="form-control-label">Message</label>
        <input type="text" class="form-control" th:field="*{message}" id="message"/>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>

<table>
    <tr>
        <th>Message</th>
        <th>User</th>
    </tr>
    <tr th:each="post : ${posts}">
        <td th:text="${post.message}">123</td>
        <td th:text="${post.author.userName}"></td>
    </tr>
</table>
<h3>Lista użytkowników:</h3>
<table>
    <tr>
        <th>Username</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.userName}">123</td>
    </tr>
</table>
</body>
</html>